{% extends "base.html" %}

{% block content %}
</style>
<h1>Welcome {{current_user.username}}!</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<ul>
  <br>
  <h2>Total Cash Tips: ${{total_tips}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      </tr>
      {% for tip in tips %}
      <tr> 
        <td>{{ tip.date }}</td> 
        <td>${{ tip.amount }}</td>
        <td>
        <form action="{{ url_for('remove_tip') }}" method="POST">
          <input type="hidden" name="tip_id" value="{{ tip.id }}">
          <button type="submit">Remove</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
<a href="{{ url_for('add_tip') }}">Add Tip</a>
{% endblock %}
