{% extends "base.html" %}

{% block content %}

<h1>Welcome {{current_user.username}}!</h1>
<br>
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="Weekly_tips"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block javascript%}
<script>
      let tipsWeek = JSON.parse({{ tips_by_day_json | tojson }})
      const ctx = document.getElementById('Weekly_tips');
          
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'],
              datasets: [{
                label: 'Weekly Tips',
                data: tipsWeek,
                borderWidth: 1,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
</script>
{% endblock %}

<ul>
  <br>
  <h2>Total Cash Tips: ${{total_tips}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      </tr>
      {% for tip in tips %}
      <tr> 
        <td>{{ tip.date }}</td> 
        <td>${{ tip.amount }}</td>
        <td>
        <form action="{{ url_for('remove_tip') }}" method="POST">
          <input type="hidden" name="tip_id" value="{{ tip.id }}">
          <button type="submit">Remove</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
<a href="{{ url_for('add_tip') }}">Add Tip</a>
{% endblock %}
